/*-----------FORMULÃRIO SIMPLES-----------*/
.modalContent .titleForm {
  font-size: .8em;
  color: #333;
  text-align: center;
  margin-top: 15px;
}

.boxForm{
  width: 100%;
  max-width: 600px;
}

.simpleForm{
  width: 100%;
  margin: 0px auto;
}

.simpleForm input:focus{
  outline-offset: 0;
  /* outline: -webkit-focus-ring-color auto 0px; */
}

.simpleForm input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset;
  background-image: url(https://lp1.empiricus.com.br/assets/svgs-default/email-black.svg);
}

.modal .modalContent .iconEmail {
  background-image: url(https://lp1.empiricus.com.br/assets/svgs-default/icon-mail.svg);
  background-repeat: no-repeat;
  padding-left: 35px;
}

.modal .modalContent form input {
  width: 100%;
  height: auto;
  font-size: 1.2em;
  font-family: inherit;
  font-weight: var(--fwNormal);
  padding: 8px;
  box-sizing: border-box;
  color: #333;
  background: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: 22px auto;
  background-position: 7px;
  margin-top: 5px;
  display: block;
  border-bottom: 1px solid #aaa;
}

.simpleForm .iconEmail::after{
  content: "";
  width: 100%;
  height: calc(100% - 4px);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.0);
  border-bottom: solid 4px rgba(0, 0, 0, 0.3);
  display: block;
}

.simpleForm .input{
  width: 100%;
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: var(--fwNormal);
  padding: 12px 12px 12px 30px;
  color: #fff;
  background: rgba(0, 0, 0, 0.0);
  background-repeat: no-repeat;
  background-size: 22px auto;
  background-position: 0px;
  border: none;
  border-bottom: 1px solid #fff;
  display: block;
  position: relative;
}

.simpleForm .input::placeholder{
  font-size: 1.1rem;
  font-family: inherit;
}

/* .simpleForm fieldset:first-child{width: 100%;} */

.simpleForm .boxNameCel{
  width: 100%;
  height: auto;
  margin: 7px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.simpleForm fieldset{
  border: 0;
  padding: 0;
  margin: 0 0 15px;
}

.simpleForm fieldset .input{padding: 12px 12px 12px 0;}

.simpleForm .btn-submit, .btOpenForm {
  width: 100%;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 1.15em;
  font-weight: 600;
  position: relative;
  left: 0;
  bottom: 0;
  padding: 22px 16px 26px;
  margin: 0 auto;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.95);
  box-shadow: none;
  background-color: var(--btnsColor);
  cursor: pointer;
  display: block;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.simpleForm .btn-submit:hover, .btOpenForm:hover {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.2) 10%, rgba(0,0,0, 0) 90%);
  background-color: var(--btnsColor);
  transition: 0.2s;
}

.simpleForm  .btn-submit{margin: 0 auto 10px;}

.simpleForm .boxNameCel{display: table;}

.simpleForm .infoSubmit{
  width: 100%;
  max-width: 600px;
  color: #aaa;
  text-align: center;
  font-size: 1rem;
  line-height: normal;
}

.simpleForm .infoSubmit {
  top: 85px;
  left: 5px;
  color: #fff;
  max-width: 325px;
}

.tooltip-msg {
  bottom: -22px;
}

form .flex {
    margin-top: 2rem;
}
/*-----------/FORMULÃRIO SIMPLES-----------*/

@media only screen and (min-width: 414px) {
  .modalContent .titleForm{font-size: .9em;}
}

@media only screen and (min-width: 768px){
  .simpleForm .btn-submit, .btOpenForm{font-size: 1.75rem;}
  .modalContent .titleForm{font-size: 1.4em;max-width: 75%;}
  .input:focus{box-shadow: 0 0 10px #00000042;}
}

@media only screen and (min-width: 1000px){
  .btOpenForm{margin: 30px auto 0;}
  .simpleForm .btn-submit, .btOpenForm {position: fixed;margin-bottom: 0;}
  .modalContent .titleForm {font-size: 1em; max-width: 100%;margin-top: -15px;}
  .simpleForm .boxNameCel{display: inline-flex;}
  .modal .modalContent form input{border: 1px solid #aaa; border-radius: 5px;color: #333!important;}
  .simpleForm fieldset:last-child{padding: 0 0 0 10px;}
}

@media only screen and (min-width: 1440px){
  .modalContent .titleForm {font-size: 1.1em;}
}
