@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root{
  --mainColor: #2dffc3;
  --secundaryColor: #ffae6f;
  --btnsColor: #9e09c3;
  --btnsColor2: #ff0d5d;
  --bgDefault: #1d1726;
  --bgDefault2: #1d1d1d;
  --optionalTextColor: #9298ad;
  --supportTextColor: #dfdfdf;
  --lSpace: 0 auto 0.85rem;
  --space: 0 auto 1.7rem;
  --mSpace: 0 auto 3.4rem;
  --defaultSpace: 1rem;
  --fwBolder: 700;
  --fwNormal: 300;
}

*{
  text-rendering: optimizeLegibility;
  font-family: 'Open Sans', sans-serif;
}

body{
  margin: 0;
  background: var(--bgDefault);
}

a, b, u, i, span{font-family: inherit;}
b{font-weight: var(--fwBolder);}

u{
  text-decoration-color: var(--mainColor);
  cursor: pointer;
}

.textGradient {
background: -webkit-linear-gradient(
-70deg
,#9e09c3,#ff0d5d);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-box-decoration-break: clone;
font-weight: bold;
}

.container{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.blocks{
  width: 100%;
  margin: 0;
  padding: var(--defaultSpace);
  position: relative;
}

.stHeader{
  text-align: center;
  color: #fff;
  position: relative;
  /* background: var(--bgDefault2); */
  background-image: url(../img/bg-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.stHeader::before, .stHeader::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* .stHeader::before{
  width: 100%;
  height: inherit;
  background: url(../img/bg-mobile.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
} */

/* .stHeader::after{background: linear-gradient(to top, var(--bgDefault) 0, transparent 10%);} */

.boxInfos{
  width: 100%;
  color: #fff;
  display: block;
}

h2.smallTitle{font-size: 2rem;
  text-transform: uppercase;color: #fff;font-weight: 700;}

.subTitle{width: 100%;font-size: 1rem;}

.supportText{width: 80%;border: 1px solid #ffffff82;border-radius: 1rem;margin: 0 auto;padding: .5rem;}
.supportText1{color: var(--supportTextColor);font-weight: 600;font-size: 1.6rem;margin-bottom: .1rem;}
.supportText2{color: var(--supportTextColor);font-weight: 100;font-size: 1.6rem;letter-spacing: 4px;margin-bottom: .1rem;}
.supportTextSmall{color: var(--supportTextColor);font-weight: 600;font-size: 1.1rem;margin-bottom: 0;}

.imgCampaign{
  width: 100%;
  max-width: 270px;
  margin: 0 auto calc(var(--defaultSpace) * 1.4);
}

.imgCampaign.mobile{display: block;}
.imgCampaign.desktop{display: none;}

.boxInfos small{
  display: block;
  margin-top: 10px;
}

h1, h2, h3, p, ul li, ol li{
  margin: var(--space);
  font-weight: var(--fwNormal);
  letter-spacing: 0.03rem;
}

h1{
  font-size: 2.5em;
  font-weight: var(--fwBolder);
  line-height: .9em;
  max-width: 550px;
  margin-left: 0;
  text-transform: uppercase;
}

h2{
  font-size: 1.6em;
  line-height: 1.3em;
}

h3{
  font-size: 1.35em;
  line-height: 1.4em;
}

p, ul li, ol li{
  font-size: 1.15em;
  line-height: 1.35em;
}

.boxFloatButton{
  width: 100%;
  padding: var(--defaultSpace);
  margin: 0 auto;
  background: var(--bgDefault);
  position: fixed;
  bottom: 0;
  z-index: 9999;
}

.btnDesk{display: none !important;}

.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

footer{
  width: 100%;
  background-color: var(--bgDefault);
  color: #414853;
  font-weight: var(--fwNormal);
  margin: 0 auto;
  padding: var(--defaultSpace);
  text-align: center;
}

footer .logoEmpiricus{
  width: 100px;
  margin: 0 auto 22px;
}

footer p{
  max-width: 880px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.65rem;
  line-height: 1rem;
}

footer p:last-child{margin: 0 auto 100px;}
footer p a{text-decoration: underline;}

@media only screen and (min-width: 768px){
  .imgCampaign.mobile {display: none;}

  .stHeader {
    background-position: 70%;
}

  h1{font-size:3.2rem;}

  .supportText {width: 90%;margin: 0 auto 0 0;padding: .9rem;}
  .supportText1 {font-size: 1.5rem;}
  .supportTextSmall {font-size: 1.2rem;}

  .stHeader{text-align: left;}
  .container{max-width: 700px;}

  .imgCampaign{max-width: 380px;margin: 0;}

  .contentInfo{width: calc(100% - 400px);}
}

@media only screen and (min-width: 1000px){
  h1{font-size: 3.2em;}

  .subTitle {margin-left: 0;}

  .supportText {max-width: 370px;margin: 0 auto 30px 0;padding: 1rem;}
  .supportText1 {font-size: 2.2rem;}
  .supportText2 {font-size: 2.2rem;}
  .supportTextSmall {font-size: 1.6rem;}

  .blocks{padding: 3.5rem;}

  /* .stHeader{background: linear-gradient(to left, var(--bgDefault2), var(--bgDefault) 50%);} */

  /* .stHeader::before{
    background: url(../img/bg-desktop.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
  } */

  .container{
    max-width: 880px;
    font-size: 1.2em;
  }

  .imgCampaign{max-width: 380px;}
  .imgCampaign.mobile{display: none;}
  .imgCampaign.desktop{display: block;}
  .contentInfo{width: calc(100% - 410px);}

  footer p:last-child{margin: 0 auto;}

  .boxFloatButton{display: none;}
  .btnDesk{display: block !important;}
}

@media only screen and (min-height: 1000px){
  .stHeader .container{min-height: 90vh;}
  .boxInfos{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);
  }
}

@media only screen and (min-width: 1280px){
  .container{max-width: 1100px;}
  .imgCampaign{max-width: 580px;}
  .contentInfo{width: calc(100% - 620px);}
}

@media only screen and (min-width: 1440px){
  h1 {font-size: 3.5em;line-height: 4.2rem;}

  .subTitle {max-width: 450px;}

  .container{max-width: 1340px;}
  .imgCampaign{max-width: 660px;}
  .contentInfo{width: calc(100% - 700px);}
}

@media only screen and (min-width: 1920px){
  .stHeader {background-position: top;}
  .subTitle {max-width: 450px;}
  .container{max-width: 1400px;}
  .imgCampaign{max-width: 600px;}
  .contentInfo{width: calc(100% - 640px);}
  .supportText{max-width: 48%;}
}
