* {box-sizing: border-box; color: inherit;}

form.briteform .btn-submit.sending {
  position: fixed!important;
}

/*---------- TARJA-DE-ALERTA-INICIAL ---------*/
.targe {
  width: 100%;
  background: #000;
  padding: 10px;
}

.targe p {
  font-size: 0.58em;
  margin: 0;
  color: #fff;
  text-align: center;
}
/*---------- /TARJA-DE-ALERTA-INICIAL ---------*/

/*------------------ MODAL ------------------*/
.showModal {
  cursor: pointer;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10000000;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
}

.modalContent {
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  box-sizing: border-box;
}

.btnClose, .btnCloseShare {
  width: 17px;
  display: block;
  margin-left: auto;
  cursor: pointer;
}

.modalContent .lineModal {
  border-bottom: 2px solid #dad8d8;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.simpleForm .input::placeholder{
  font-size: .9em;
}

.simpleForm input:focus{
  outline-offset: 0;
  outline: -webkit-focus-ring-color auto 0px;
}

.simpleForm input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset;
  background-image: url(https://lp1.empiricus.com.br/assets/svgs-default/email-black.svg);
}

.simpleForm .btn-submit:hover, .btOpenForm:hover {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.2) 10%, rgba(0,0,0, 0) 90%);
  background-color: var(--btnsColor);
  transition: 0.2s;
}

.simpleForm .infoSubmit {
  width: 100%;
  max-width: 250px;
  text-align: left;
  position: relative;
  font-size: 0.6em;
  top: 20px;
  color: #8B8B8B;
}

.tooltip-msg {
  text-align: center;
  color: #ff0000;
  position: relative;
}

.modal .modalContent .iconUser {
  background-image: url("https://lp1.empiricus.com.br/assets/svgs-default/icon-user.svg");
  background-repeat: no-repeat;
  padding-left: 35px;
}

.checkAs {
  position: absolute;
  top: -10000px;
}

form .flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

form .boxOptin {
  width: 30px;
  position: relative;
  cursor: pointer;
}

form .iCheckbox {
  width: 30px;
  height: 30px;
  opacity: 0;
}

form .fakeInputCheck {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 22px;
  left: 0;
  border: solid 1px #000;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
}

form .iCheckbox:checked + .fakeInputCheck {
  background-image: url(https://lp1.empiricus.com.br/assets/svgs-default/check.svg);
  background-repeat: no-repeat;
  background-position: center 40%;
  background-size: 14px;
}
/*------------------ /MODAL ------------------*/

/*------------- CLASSES PONTUAIS -------------*/
.noWrap {white-space: nowrap;}

.highlight, .highlight-2, .highlight-3 {font-family: inherit;}
.highlight {color: var(--mainColor);}
.highlight-2 {color: var(--btnsColor);}
.highlight-3 {color: var(--secundaryColor);}

.center {text-align: center;}

.hidden {display: none !important;}

.link {color: #0091ff; text-decoration: none;}
/*------------- /CLASSES PONTUAIS -------------*/

/*------------------ NAV DE FACEBOOK ------------------*/
.boxNav {
  width: 100%;
  margin: 0 auto;
  background: #000;
  border-bottom: solid 1px #333;
}

.boxNav .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.boxNav .container a {
  flex-grow: 0;
  padding: 15px;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
  color: #fff;
}

.boxNav .container a:hover {color: var(--mainColor);}
/*------------------ /NAV DE FACEBOOK ------------------*/

@media only screen and (min-width: 375px) {
  .simpleForm .infoSubmit {
    max-width: 310px;
    font-size: 0.7em;
  }
}

@media only screen and (min-width: 414px) {
  .simpleForm .infoSubmit {
    max-width: 340px;
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 768px) {
  .btnCloseDesk, .overlay {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .modal .modalContent {
    padding: 35px;
  }

  .simpleForm .infoSubmit {
    max-width: 650px;
  }
}

@media only screen and (min-width: 1000px) {
  form .fakeInputCheck{
    top: 105px;
    left: -30px;
  }

  .targe {
    background: #0006;
  }

  .targe p {
    font-size: 0.8em;
  }

  .modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btnClose {
    bottom: 15px;
    left: 15px;
    position: relative;
  }

  .btnCloseShare {
    bottom: 15px;
    left: 0;
    position: relative;
  }

  .modalOverlay {
    background-color: #00061dd1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .leftSideModal {
    float: left;
    position: absolute;
    top: 26%;
    right: 72%;
  }

  .leftSideModal h2 {
    color: #fff;
    font-size: 1em;
  }

  .iconStar {
    background-image: url("https://lp1.empiricus.com.br/assets/svgs-default/icon-star.svg");
    width: 50px;
    height: auto;
    background-repeat: no-repeat;
  }

  .iconGraf {
    background-image: url("https://lp1.empiricus.com.br/assets/svgs-default/icon-graf.svg");
    width: 50px;
    height: auto;
    background-repeat: no-repeat;
  }

  .iconBell {
    background-image: url("https://lp1.empiricus.com.br/assets/svgs-default/icon-bell.svg");
    width: 50px;
    height: auto;
    background-repeat: no-repeat;
  }

  .iconPlay2 {
    background-image: url("https://lp1.empiricus.com.br/assets/svgs-default/icon-play2.svg");
    width: 50px;
    height: auto;
    background-repeat: no-repeat;
  }

  .leftSideModal .boxContent p {
    font-size: 0.9em;
    color: #363636;
    position: relative;
    left: 18px;
    max-width: 70%;
  }

  .lineDivisorBox {
    border-right: 2px solid #a9a9a9;
    align-self: center;
    height: 30px;
    position: relative;
    left: 5px;
  }

  .boxContent {
    width: 100%;
    max-width: 250px;
    height: 70px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    border-radius: 5px;
    margin: 10px;
  }

  .progressBar {
    width: 40%;
    padding: 7px;
    margin: var(--space);
    border: solid 1px #444;
    border-radius: 30px;
    background: linear-gradient(to right, #0084ff, #00c4ff);
    background-color: rgba(0, 0, 0, 0.5);
    background-size: 60%;
    background-repeat: no-repeat;
    text-align: center;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-animation: progressBar 4s ease 1;
    -moz-animation: progressBar 4s ease 1;
    animation: progressBar 4s ease 1;
  }

  .progressBar span {
    color: #fff;
    font-size: 1em;
    letter-spacing: 1px;
  }

  .titleModal {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 20%;
    left: 50%;
    max-width: 50%;
    transform: translate(-50%, -50%);
  }

  .rightSideModal {
    float: right;
    max-width: 22%;
    line-height: 40px;
    text-align: left;
    position: absolute;
    top: 45%;
    left: 75%;
  }

  .rightSideModal h2 {
    font-weight: 600;
    line-height: 45px;
    font-size: 3em;
    color: #fff;
    margin-bottom: 15px;
  }

  .rightSideModal p {
    font-family: 'Montserrat', sans-serif;
    line-height: 40px;
    font-size: 0.8em;
    max-width: 95%;
    color: #fff;
  }

  .modalContent {
    max-width: 400px;
    height: 360px;
  }

  .lineModal {
    display: none;
  }

  .modalContent form input {
    padding: 12px;
  }

  .simpleForm fieldset:last-child {
    padding: 0 0 0 10px;
  }

  .simpleForm .infoSubmit {
    top: 125px;
    color: #fff;
    max-width: 325px;
  }

  .tooltip-msg {
    bottom: -22px;
  }
}

@media only screen and (min-width: 1440px) {
  .boxContent {
    max-width: 270px;
    height: 80px;
  }

  .progressBar {
    width: 35%;
  }

  .titleModal {
    font-size: 2.5em;
    max-width: 35%;
    top: 20%;
  }

  .rightSideModal h2 {
    font-size: 3.5em;
  }

  .modal .modalContent {
    max-width: 480px;
  }

  .simpleForm .infoSubmit {
    max-width: 500px;
    font-size: .75rem;
    left: 10px;
  }
}

@media only screen and (min-width: 1920px) {
  .leftSideModal {
    top: 27%;
    right: 70%;
  }

  .titleModal {
    max-width: 30%;
    font-size: 2.5em;
  }

  .rightSideModal h2 {
    font-size: 3.5em;
  }

  .modal .modalContent {
    height: 360px;
    position: absolute;
    top: 50%;
  }
}
