@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.typingCursor::after {
	content: "_";
	width: 10px;
	height: 30px;
	margin-left: 5px;
	display: inline-block;
	vertical-align: bottom;
	background-color: #fff;

	-webkit-animation: blink .7s infinite;
	   -moz-animation: blink .7s infinite;
			animation: blink .7s infinite;
}

@media only screen and (min-width: 768px){
	.typingCursor::after{height: 42px;}
}

@media only screen and (min-width: 1920px){
	.typingCursor::after{height: 50x;}
}
