.modalForm{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10000000;
  display: none;
}

.modalFormOverlay{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.modalFormContent{
  width: calc(100% - (var(--defaultSpace) * 2));
  max-width: 460px;
  height: auto;
  position: absolute;
  top: var(--defaultSpace);
  left: 50%;
  transform: translateX(-50%);
  padding: calc(var(--defaultSpace) * 1.8) var(--defaultSpace) var(--defaultSpace);
  border-radius: 4px;
  background: #fff;
  color: var(--optionalTextColor);
  text-align: center;
}

.buttonCloseModal{
  width: 16px;
  height: 16px;
  position: absolute;
  top: calc(var(--defaultSpace) / 2);
  right: calc(var(--defaultSpace) / 2);
  cursor: pointer;
  display: table;
}

.buttonCloseModal::before, .buttonCloseModal::after{
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100px;
  background: #8492a8;
  display: table;
}

.buttonCloseModal::before{transform: translate(-50%, -50%) rotate(-45deg);}
.buttonCloseModal::after{transform: translate(-50%, -50%) rotate(45deg);}

.titleForm{
  font-weight: var(--fwNormal);
  font-size: 1.2rem;
  line-height: 1.65rem;
  margin-bottom: calc(var(--defaultSpace) * 1.6);
  display: table;
}

.boxInput{
  width: 100%;
  position: relative;
  display: table;
  margin: var(--lSpace);
}

.boxInput label{
  margin-bottom: calc(var(--defaultSpace) / 3);
  font-size: 0.8rem;
  display: table;
  color: var(--optionalTextColor2);
}

.boxInput input{
  width: 100%;
  min-height: 45px;
  display: table;
  font-size: inherit;
  font-weight: var(--fwNormal);
  outline: 0;
  border: solid 1.5px #c4cedd;
  border-radius: calc(var(--defaultSpace) / 3.4);
  padding: calc(var(--defaultSpace) / 2) 0 calc(var(--defaultSpace) / 2) calc(var(--defaultSpace) / 2);
  color: var(--optionalTextColor);
  background: rgba(0, 0, 0, 0.0);
  overflow: visible;
}

.boxInput.flex{display: flex;}
.boxInput.flex div{width: calc(50% - (var(--defaultSpace) / 3))}

.boxInput input:focus{
  border: solid 1.5px var(--mainColor);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.boxInput input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset;
  background-image: url(https://lp1.empiricus.com.br/assets/svgs-default/email-black.svg);
}

.checkAs{
  position: absolute;
  /* top: -10000px; */
  opacity: 0;
}

.iCheckbox{display: none;}

.btn-submit, .btOpenForm{
  width: 100%;
  max-width: 440px;
  font-size: 1.1rem;
  font-weight: var(--fwBolder);
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: -0.01rem;
  line-height: 1.35rem;
  position: relative;
  padding: 1.1rem var(--defaultSpace) 1.25rem;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.9);
  background: linear-gradient(30deg, var(--btnsColor2), var(--btnsColor));
  cursor: pointer;
  border-radius: 50px;
  display: block;
}

.btn-submit::before, .btOpenForm::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(30deg, var(--btnsColor2), var(--btnsColor));
  z-index: -1;
  filter: blur(15px);
  opacity: 0.6;
}

.btn-submit{margin-bottom: var(--defaultSpace);}

.btn-submit:hover, .btOpenForm:hover{
  background: linear-gradient(30deg, var(--btnsColor), var(--btnsColor2));
  transform: scale(1.02);
  transition: 0.2s;
}

.infoSubmit{
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--optionalTextColor);
  text-align: center;
}

.calendarIcon {
  display: block;
  overflow: hidden;
  background-image: url(../svg/calendar.svg);
  background-position: 16%;
  background-repeat: no-repeat;
  background-size: 6%;
  padding: .2rem;
}

.boxFloatButton .calendarIcon {
    background-position: 14%;
}

@media only screen and (min-width: 768px){
  .btn-submit, .btOpenForm{font-size: 1.35rem;}
}

@media only screen and (min-width: 1000px){
  .modalFormContent{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btOpenForm{margin: 0;}
}
